VELORA_API_URL=https://velora-beta-20260629-9a9196313b42.herokuapp.com
BOOST_BOX_MODE=agent
BOOST_BOX_DEVICE_TYPE=BOOST_BOX
BOOST_BOX_RESOURCE_PROFILE=BILANCIATO
BOOST_BOX_MINING_ENABLED=false
BOOST_BOX_AUTO_SWITCH_ENABLED=true
BOOST_BOX_LOCAL_STOP_ENABLED=true
